
embed {
	border: 3px rgba(120, 120, 120, 0.2);
	border-style: solid;
	cursor: pointer;
}
embed:hover {
	filter: brightness(1.2);
}
embed:active {
	filter: brightness(1.5);
	transform: translateX(2px) translateY(2px);
}
button {
	cursor: pointer;
}
button:hover {
	filter: brightness(1.2);
}
button:active  {
	transform: translateX(2px) translateY(2px);
	ffilter: brightness(1.5);
}
body {
	background-color: #222;
	margin: 0px;
	padding: 0px;
	--theame-color: rgba(20, 20, 20, 0.2);
	--theame-white-color: #ddd;
}
#main {
	filter: blur(0px);
}
#main.toggle {
	filter: blur(5px);
}
	#canvas {
		position: absolute;
		right: 0px;
   		bottom: 0px;
	}
	#heading {
		position: absolute;
		top: 40px;
		left: 0px;
		height: 80px;
		width: 200px;
		color: var(--theame-white-color);
		background-color: var(--theame-color);
		padding: 5px 5px 5px 35px;
		display: flex;
	  	align-items: center;
	  	justify-content: center;
	}
	#active-gear {
		postion: absolute;
		top: 0vh;
		padding-top: 15vh;
		padding-left: 10vw;
		width: 80vw;
		height: 95vh;
	}
		.arrow {
			position: absolute;
			top:0px;
			height: 200vh;
			width: 40px;
			transition: 0.3s;
			cursor: pointer;
		}
			#right-arrow-img {
				position: absolute;
				right: 5px;
			}
			.arrow-img {
				margin-top: 47vh;
			}
		.left {
			left: 0px;
			padding-left: 5px;
			background: linear-gradient(to left, rgba(30, 30, 30, 0.0), rgba(30, 30, 30, 0.6));
		
		}
		.right {
			right:0px;
			background: linear-gradient(to right, rgba(30, 30, 30, 0.0), rgba(30, 30, 30, 0.6));
		  	justify-content: right;
		
		}
		.arrow:hover {
			filter: brightness(1.2);
		}
		.arrow:active {
			filter: brightness(1.6);
		}
		.toggle#armor-arrow {
			width: 25vw;
			background: linear-gradient(to left, rgba(10, 10, 10, 0.0), rgba(10, 10, 10, 0.0));
		}
		.toggle#wpn-arrow {
			width: 25vw;
			background: linear-gradient(to right, rgba(10, 10, 10, 0.0), rgba(10, 10, 10, 0.0));
		}
		#armor-container {
			display: none;
		}
		
		#wpn-container {
			display: none;
		}
		.toggle#armor-container {
			display: inline;
		}
		.toggle#wpn-container {
			display: inline;
		}
			.armor-column {
				position: absolute;
				left: 135px;
				height: 80vh;
				width: 150px;
			}
			.wpn-column {
				position: absolute;
				right: 135px;
				height: 80vh;
				width: 150px;
			}
			
			
				.active-item-container {
					width: 100%;
					margin-top: 2vh;
					margin-left: 40px;
				}
					.active-item-image {
						cursor: pointer;
						width: 80px;
						height: 80px;
						background-color: var(--theame-color);
					}
					.active-item-info {
						position: absolute;
						background: var(--theame-color);
						color: var(--theame-white-color);
						display: none;
						padding: 10px;
					}
					.sub-item-info {
						background: var(--theame-color);
						color: var(--theame-white-color);
						padding: 10px;
					}
					.active-item-info.left {
						left: -110px;
						text-align: right;
						background: linear-gradient(to right, rgba(30, 30, 30, 0.0), rgba(20,20,20,0.2));
					}
					.active-item-info.right {
						left: 125px;
						text-align: left;
						background: linear-gradient(to left, rgba(30, 30, 30, 0.0), rgba(20,20,20,0.2));
					}
					.sub-item-info.left.down {
						text-align: left;
					}
					.sub-item-info.right.down {
						margin-left: -75px;
						margin-top: -5px;
						text-align: right;
					}
				.sub-item-container	{
					position: absolute;
					left: 120px;
					margin-top: 0px;
					background-color: var(--theame-color);
					height: 80px;
				}
				.sub-item-container { display: none; }
				.sub-item-container.toggle { display: inline; }
					.right.sub-item-container {
						position: absolute;
						background: linear-gradient(to right, rgba(20,20,20,0.0), rgba(20,20,20,0.2));
					}
					.left.sub-item-container {
						left: 120px;
						background: linear-gradient(to left, rgba(20,20,20,0.0), rgba(20,20,20,0.2));
					}
					.sub-item-image {
						cursor: pointer;
							width: 70px;
							height: 70px;
					}
					
					.sub-item {
							width: 70px;
							height: 70px;
						}	
						.left.sub-item {
							margin: 5px 0px 0px 20px;
							float:left;
						}	
						.right.sub-item {
							margin: 5px 130px 0px 0px;
							float:right;
						}
							.sub-item-info-container { display: none; }
						
					
				
#storage {
	postion: absolute;
	top: 100vh;
	margin: 10vh 10vw 10vh 10vw;
	padding: 100px 20px 20px 20px;
	width: 80vw;
	background-color: var(--theame-color);
	display: flex;
	justify-content: center;
  	flex-wrap: wrap;
}
	.storage-item-container {
		float: left;
		margin: 4px;
		height: 150px;
		width: 110px;
		color: var(--theame-white-color);
	}
		.storage-item-image {
			width: 80px;
			cursor: pointer;
		}
		.storage-item-info {
			position: absolute;
			display: none;
			margin-top: 86px;
			margin-left: -86px;
			background-color: rgba(120,120,120,0.2);
			padding: 10px 10px 10px 10px
		}
		
	.toggle.sub-item-container {display:inline;}
	
	
	#toggle-view {
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		color: var(--theame-white-color);
		border: rgba(20, 20, 20, 0.2);
		background-color: var(--theame-color);
		padding: 5px;
	}
	
	#delete-screen {
		display: none;
	}
	#delete-screen.toggle {
		display: inline;
	}
		#delete-container {
			position: fixed;
			width: 100vw;
			height: 100vh;
			top: 0px;
			left: 0px;
			display: flex;
			justify-content: center;
	  		align-items: center;
		}
			#delete-content {
				position: absolute;
				background-color: rgba(20,20,20,0.6);
				width: 20vw;
				height: 20vh;
				color: var(--theame-white-color);
				padding: 20px;
			}
				#cancel-delete-button {
					left: 20px;
					bottom: 20px;
				}
				#delete-button {
					right: 20px;
					bottom: 20px;
				}
				.delete-button {
					position: absolute;
					background-color: var(--theame-color);
					border: var(--theame-color);
					color: var(--theame-white-color);
					width: 10vw;
					height: 40px;
					padding: 4px;
				}
	
	