@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


body {
	margin: 0px;
	width: 100%;
	height: 100%;
}


 
	div#background-hue {
		font-family: 'Press Start 2P', cursive;
		line-height: 0.2;
	}