body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(41,41,41);
	overflow-x: hidden;
}
button {
	outline: none;
}
h1 {
	margin:0px;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track  { 
	background-color: rgb(140, 140, 140);  
}
::-webkit-scrollbar-thumb {
	background-color: rgb(240, 240, 240); 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
} 
::-webkit-scrollbar-button {
	background-color: rgb(240, 240, 240);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 1px;
    border-radius: 1px;  
} 
::-webkit-scrollbar-corner {
	background-color: black;
} 
::selection {
	background: rgb(240, 240, 240); 
}

.white::-webkit-scrollbar-thumb:hover {  
	 background-color: rgb(255, 255, 255);
}
.white::-webkit-scrollbar-track  { 
	background-color: rgb(140, 140, 140);  
}
.white::-webkit-scrollbar-thumb {
      background-color: rgb(240, 240, 240); 
} /* this will style the thumb, ignoring the track */
.white::-webkit-scrollbar-button {
      background-color: rgb(240, 240, 240); 
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
.white::selection {
	background: rgb(240, 240, 240); 
}
.white::-webkit-scrollbar-thumb:hover {  
	background-color: rgb(255, 255, 255);
}

.orange::-webkit-scrollbar-track { 
	background-color: #c16702;
}
.orange::-webkit-scrollbar-thumb {
	background-color: #fb8502;
} /* this will style the thumb, ignoring the track */
.orange::-webkit-scrollbar-button {
	background-color: #fb8502;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
.orange::selection {
	background: orange;
}
.orange::-webkit-scrollbar-thumb:hover {  
	background-color: rgb(255, 185, 100);
}

.red::-webkit-scrollbar-track { 
	background-color: #103669;
}
.red::-webkit-scrollbar-thumb {
	background-color: rgb(26,84,166);
} /* this will style the thumb, ignoring the track */
.red::-webkit-scrollbar-thumb:hover {  
	background-color: #659ce7;
}
.red::-webkit-scrollbar-button {
	background-color: rgb(26,84,166);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
.red::selection {
	background-color: rgb(26,84,166);
}

.blue::-webkit-scrollbar-track { 
	background-color: rgb(43, 72, 138); 
}
.blue::-webkit-scrollbar-thumb {
	background-color: rgb(56, 121, 179); 
} /* this will style the thumb, ignoring the track */
.blue::-webkit-scrollbar-button {
	background-color: rgb(56, 121, 179); 
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
.blue::selection {
	background: rgb(0, 0, 255);
}
.blue::-webkit-scrollbar-thumb:hover {  
	background-color: #6fa3d2; 
}

.purple::-webkit-scrollbar-track { 
	background-color:  rgb(140, 0, 140);
}
.purple::-webkit-scrollbar-thumb {
	background-color:  rgb(255, 0, 255); 
} 
.purple::-webkit-scrollbar-button {
	background-color: rgb(255, 0, 255); 
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
.purple::selection {
	background: rgb(255, 0, 255);
}
.purple::-webkit-scrollbar-thumb:hover {  
	background-color: rgb(255, 50, 255);
}

header#main-header {
	margin-left: 45%;
	color: rgba(255, 40, 2, 0.5);
}

#menu-button {
	position: fixed;
	background-color: #6b6b6b;
	top: 5px;
	left: 5px;
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	z-index: 40;
	
}
#menu-button:hover {
	background-color: #b2b2b2;
}

.white #menu-button {
	position: fixed;
	background-color: #6b6b6b;
	top: 5px;
	left: 5px;
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	z-index: 40;
}
.white #menu-button:hover {
	background-color: #b2b2b2;
}

.orange #menu-button {
	position: fixed;
	background-color: #c16702;
	top: 5px;
	left: 5px;
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	z-index: 40;
}
.orange #menu-button:hover {
	background-color: #fb8502;	 
}

.red #menu-button {
	position: fixed;
	background-color: #659ce7;
	top: 5px;
	left: 5px;
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	z-index: 40;
}
.red #menu-button:hover {
	background-color: rgb(26,84,166);
}

.blue #menu-button {
	position: fixed;
	background-color: rgb(43, 72, 138); 
	top: 5px;
	left: 5px;
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	z-index: 40;
	
}
.blue #menu-button:hover {
	background-color: rgb(56, 121, 179); 
}

.purple #menu-button {
	position: fixed;
	background-color: rgb(140, 0, 140);
	top: 5px;
	left: 5px;
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	z-index: 40;
}
.purple #menu-button:hover {
	background-color: rgb(255, 0, 255);
}

	/* 3 different bars */
	.bar1, .bar2, .bar3 {
		width: 30px;
		height: 5px;
		margin: 7px 0;
		background-color: #eee;
		transition: 0.3s;
	}
		.change .bar1 {
			transform: rotate(-45deg) translate(-8px, 9px);
		}
		.change .bar2 {
			opacity: 0;
		}
		.change .bar3 {
			transform: rotate(45deg) translate(-8px, -9px);
		}
nav#navigation-field {
	background-color: rgba(40, 40, 40, 0.8);
	position: fixed;
	height: 0px;
	width: 0vw;
	transition: 0.3s;
	opacity: 0; top : 0px;
	position: fixed;
	top: 0px;
  	z-index: 22;
}
	nav#navigation-field ul {
		list-style-type: none;
		margin-top: 50px;
		padding: 0;
	}
		nav#navigation-field ul li {
			float: left;
			margin: 5px;
		}
		nav#navigation-field ul li:hover {  
			filter: brightness(70%); 
		}
			.navigation-button {
				cursor: pointer;
				width: 90px;
				height: 90px;
				color: white;
				background-color: rgb(51,51,51);
				border-color: rgb(41,41,41);
				border-width: 1px;
			}
			#nav-intro-button:hover { background-color: white; }
			#nav-intro-button:hover img { filter: grayscale(0%); } 
			#nav-books-button:hover { background-color:  #fb8502; }
			#nav-books-button:hover img { filter: grayscale(0%); }
			#nav-video-games-button:hover { background-color: rgb(56, 121, 179);  }
			#nav-video-games-button:hover img { filter: grayscale(0%); }
			#nav-education-button:hover { background-color: rgb(26,84,166); }
			#nav-education-button:hover img { filter: grayscale(0%); }
			#nav-about-button:hover { background-color: rgb(255, 0, 255); }
			#nav-about-button:hover img { filter: grayscale(0%); }
				.nav-button-img {
					width: 90px;
					margin-left: -6px;
					filter: grayscale(100%);
				}
				.active .nav-button-img  { filter: grayscale(0%); }

.main-content {
	background-color: rgb(41,41,41);
	min-height: 100vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin-bottom: 20px;
	color: white;
}

	.intro-content {}
	 .active .intro-content {
		background-color: rgb(200,200,200);
		color: white;
	}
	
	#books-content {
  		background-image: url("../img/floor.jpg");
		background-color: #753a00;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center;
	    background-size: cover;
	    background-blend-mode: overlay;
	}
	.books-content {}
	.active .books-content {
		background-color: #fb8502;	
		color: white;
	}
		#book-content-img {
			margin-left: 10vw; 
			max-width : 80vw;
			height: 100vh;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		}
	
	
	#video-games-content {
  		background-image: url("../img/playstation-4-wallpaper.jpg");
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center;
	    background-size: cover;
	}
	.video-games-content {}
	.active .video-games-content {
		background-color: rgb(56, 121, 179); 
		color: white;
	}
		#video-games-content {
			display: flex;
			justify-content: center;
		}
		#game-container {
			overflow: hidden;
			height: 300px;
  			display: inline-block;
  			width: 100vw;
  			max-width: 100vw;
  			z-index: 20;
			cursor: pointer;
		}
		.game {
			position: absolute;
			background-color: rgb(41,41,41);
			width: 220px;
			height: 270px;
			margin-top: 30px;
  			z-index: 21;
			filter: grayscale(100%);		    
			background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
			transition: 0.1s;
		}
			.active-game {
				filter: grayscale(0%);
				margin-top: 10px;
				margin-left: -5px;
				width: 230px;
				height: 310px; 
				box-shadow: 10px 10px 91px 4px rgba(82,206,255,0.80);
				background-repeat: no-repeat;
		    	background-position: center;
		    	background-size: cover;
			}
		#sins { background-image: url("../img/sins.jpg"); }
		#destiny { background-image: url("../img/destiny.png"); }
		#destiny-2 { background-image: url("../img/destiny2.jpg"); }
		#starcraft { background-image: url("../img/StarCraft.jpg"); }
		#starcraft-2 { background-image: url("../img/StarCraft2.jpg"); }
		#baldurs-gate { background-image: url("../img/BaldursGate.png"); }
		#baldurs-gate-2 { background-image: url("../img/BaldursGate2.jpg"); }
		#dragon-age { background-image: url("../img/DragonAgeOrigins.png"); }
		#dragon-age-2 { background-image: url("../img/dragonage2.jpg"); }
		#dibalo-2 { background-image: url("../img/Diablo2.png"); }
		#dibalo-3 { background-image: url("../img/diablo3.jpg"); }
		#f-f-7 { background-image: url("../img/ff7.jpg"); }
		#f-f-8 { background-image: url("../img/ff8.jpg"); }
		#sonic-2 { background-image: url("../img/Sonic2.jpg"); }
		#super-mario-2 { background-image: url("../img/Super_Mario_Bros_2.jpg"); }
		#super-mario-3 { background-image: url("../img/super3.jpg"); }
			.game-text-container {
				position: absolute;
				top: 320px;
				left: 0px;
				background-color: rgba(31,31,31,0.8);
				padding: 20px; 
				text-align: left;
				opacity: 0;
				max-height: 120px;
				overflow: auto;
				cursor: default;
			}
			 .active-game .game-text-container { 
			 	transition: 0.6s;
				opacity: 1;
				width: 40vw;
			}

			.active-game .game-text-container::-webkit-scrollbar-track { 
				background-color: rgb(43, 72, 138); 
			}
			.active-game .game-text-container::-webkit-scrollbar-thumb {
				background-color: rgb(56, 121, 179); 
			} /* this will style the thumb, ignoring the track */
			.active-game .game-text-container::-webkit-scrollbar-button {
				background-color: rgb(56, 121, 179); 
			} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
			.active-game .game-text-container::selection {
				background: rgb(0, 0, 255);
			}
			.active-game .game-text-container::-webkit-scrollbar-thumb:hover {  
				background-color: #6fa3d2; 
			}	
	
	
	
	#education-content {
	    
	}
		#techer-content {
			position: absolute;
			background-color: white;
		}
			#su-logo {
				background-color: white;
				background-image: url("../img/SUlogo.png");
			}
			#su-scroll {
				background-image: url("../img/0001.png");
			}
		#civil-content {
			position: absolute;
			left: 50vw;
			background-color: #1a54a6;
		}
			#kth-logo {
				background-image: url("../img/KTHlogo.jpg");
			}
			#kth-scroll {
				background-image: url("../img/scroll60.png");
			}
		.exam-content {
			width: 50vw;
			height: 100vh;
			display: flex;
			text-align: center;
			justify-content: center;
			align-content: center;
			flex-direction: column;
		}
		.logo-container {
		}
			.logo-content {
				background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
			    width: 20vw;
			    height: 20vw;
			    border: none;
			}
				.scroll-content {
					position: absolute;
					background-repeat: no-repeat;
				    background-position: center;
				    background-size: contain;
				    width: 40vw;
				    height: 90vh;
				    bottom: 5vh;
				    left: 5vw;
				}
		
	.active .education-content {
		background-color:  rgb(26,84,166);
		color: white;
	}
	
	.about-content {}
	.active .about-content {
	    background-color: rgb(255, 0, 255); 
		color: white;
	}
	
	.section-img {
		margin-left: 10%; 
		max-width : 80%;
	}

	
	#line {
		position: fixed;
		background-color: red;
		width: 10px;
		height: 100vh;
		left: 50vw;
		top: 0px;
	}