body {
	margin: 0px;
	padding: 0px;
}

header#main-header {
	margin-left: 45%;
	color: rgba(255, 40, 2, 0.5);
}

#menu-button {
	position: fixed;
	background-color: #a65300;
	top: 10px;
	left: 10px;
	cursor: pointer;
	padding: 0px 6px 0px 6px;
	z-index: 10;
}

#menu-button:hover {
	background-color: rgb(255, 128, 0);
}

/* 3 different bars */
.bar1, .bar2, .bar3 {
	width: 30px;
	height: 5px;
	margin: 7px 0;
	background-color: #eee;
	transition: 0.3s;
} 
	.change .bar1 {
		transform: rotate(-45deg) translate(-8px, 9px);
	}
	.change .bar2 {
		opacity: 0;
	}
	.change .bar3 {
		transform: rotate(45deg) translate(-8px, -9px);
	}


nav#navigation-field {
	background-color: rgba(40, 40, 40, 0.8);
	position : fixed;
	height: 0px;
	width: 0vw;
	transition: 0.3s;
	opacity:0;
	top: 0px;
	position: fixed;
}

nav#navigation-field ul {
	list-style-type: none;
	margin-top: 50px;
	padding: 0;
}

nav#navigation-field ul li {
	float: left;
	margin: 10px;
}

.navigation-button {
	width: 110px;
	height: 110px;
	border-color: rgba(120, 120, 120, 0.8);
}

.main-content {
	min-height: 100vh;
	display: flex;
	text-align: center;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}
	.intro-content {
		background-color: white;
	}
	
	.books-content {
		background-color: orange;
		color: white;
	}
	
	.video-games-content {
		background-color: red;
		color: white;
	}
	
	.education-content {
		background-color: blue;
		color: white;
	}
	
	.about-content {
		background-color: purple;
		color: white;
	}
